/* Site layout https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_layout_named */

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 1px;
  background-color: #2196f3;
  padding: 1px;
}
.container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}
.container > div.header {
  grid-area: header;
  text-align: center;
}
.container > div.menu {
  grid-area: menu;
}
.container > div.content {
  grid-area: content;
}
.container > div.footer {
  grid-area: footer;
}

/* App specific */
.App {
  font-family: sans-serif;
  text-align: center;
}

.soldout {
  background-color: #f8d7da;
  color: #721c24;
  text-decoration: line-through;
  padding: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}

.pizza-item {
  color: #9b6500;
}

.status-soldout {
  background-color: #f8d7da;
  text-decoration: line-through;
  padding: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
}
